@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Asap+Condensed:wght@300&family=Gabarito&family=Karla:wght@800&family=League+Spartan:wght@500&family=Montserrat:wght@400;500;600;700&family=Oswald:wght@300;700&family=Permanent+Marker&family=Righteous&family=Rubik+Wet+Paint&family=Yanone+Kaffeesatz:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Asap+Condensed:wght@300&family=Gabarito&family=Karla:wght@800&family=League+Spartan:wght@500&family=Montserrat:wght@400;500;600;700&family=Oswald:wght@300;700&family=Permanent+Marker&family=Righteous&family=Roboto+Slab:wght@300;500&family=Rubik+Wet+Paint&family=Yanone+Kaffeesatz:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Anonymous+Pro:wght@400;700&family=Asap+Condensed:wght@300&family=Gabarito&family=Karla:wght@800&family=League+Spartan:wght@500&family=Montserrat:wght@400;500;600;700&family=Oswald:wght@300;700&family=Permanent+Marker&family=Righteous&family=Roboto+Slab:wght@300;500&family=Rubik+Wet+Paint&family=Source+Code+Pro:wght@300;600;700&family=Yanone+Kaffeesatz:wght@300&display=swap');


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: transparent;
}

.hide-xlg {
    display: none !important;
}

#particles-js {
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    position: fixed;
}

.web {
    font-size: 30px;
    font-weight: 600;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0px 10%;
    background: #000000e4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    border-bottom: 1px solid rgba(44, 171, 15, 0.52) !important;
}

.hide-xl {
    display: none;
}

@media screen and (max-width: 868px) {
    .header {
        width: 100%;
    }
    .logo {
        font-size: 40px !important;
    }
}
@media screen and (max-width: 622px) {
    .hide-lg {
        display: none !important;
    }
    .home .disc {
        width: 100%;
    }
    .display-sm {
        display: flex !important;
        background: #000000e4;
        border-bottom: 1px solid rgba(44, 171, 15, 0.52) !important;
    }
    .navbar {
        overflow: hidden;
    }
    .navbar .navbar-brand {
        color: black;
        letter-spacing: 4px;
        font-size: 40px;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: rgb(44, 171, 15);
        text-decoration: none;
        font-weight: 800;
    }
    .navbar button i {
        color: white !important;
        font-size: 30px;
    }
    .navbar .offcanvas-header {
        border-bottom: 1px solid rgba(44, 171, 15, 0.216);
        background-color: black !important;
        color: white !important;
    }
    .navbar .offcanvas .offcanvas-header .btn-close {
        background-color: rgb(47, 255, 0);
        border-radius: 50px;
        margin-right: 2px;
    }
    .navbar .offcanvas-title {
        color: black;
        letter-spacing: 4px;
        font-size: 36px;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: rgb(44, 171, 15);
        text-decoration: none;
        font-weight: 800;
    }
    .navbar .offcanvas-body {
        background-color: rgb(0, 0, 0);
    }
    .navbar .offcanvas-body li a {
        color: white !important;
        font-family: "Source Code Pro", sans-serif;
        margin-bottom: 1rem;
    }
    .navbar .nav-footer {
        padding: 25px;
        background-color: black;
        border-left: 1px solid rgba(44, 171, 15, 0.52);
        border-top: 1px solid rgba(44, 171, 15, 0.318);
    }
    .navbar .nav-footer a {
        font-size: 20px;
        color: white;
        margin: 7px;
        border: 1px solid rgb(44, 171, 15);
        border-radius: 50%;
        padding: 4px 6px;
    }
}

.logo {
    color: black;
    letter-spacing: 1px;
    font-size: 55px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(44, 171, 15);
    text-decoration: none;
    font-weight: 800;
}

.header .navbar a {
    font-family: "Source Code Pro", sans-serif;
    display: inline-block;
    font-size: 15px;
    color: white;
    text-decoration: none;
    font-weight: 400;
    margin-left: 35px;
    transition: .3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
}

.header .navbar a:hover {
    color: rgb(44, 171, 15);
}

/** HOME **/

.home {
    width: 100%;
    justify-content: space-between;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 70px 0px;
    position: relative;
}

.home .name {
    color: white !important;
    font-weight: 600;
}

.home .container .disc {
    padding: 0px 0px !important;
}

.home-content {
    position: relative;
    margin-top: 10rem !important;
    margin-left: 2rem;
    max-width: 600px;
    background: transparent;
}

.home .home-content h3 {
    color: white;
    font-size: 25px;
}

.home .home-content h3 span {
    font-family: "Source Code Pro", sans-serif;
    color: rgb(44, 171, 15);
    font-size: 29px;
    font-weight: 800;
}

.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    color: white;
}

.home-content p {
    font-family: "Source Code Pro", sans-serif;
    font-size: 17px;
    color: white;
}

.home-sci a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 2px solid rgb(28, 94, 13);
    border-radius: 50%;
    font-size: 20px;
    color: white;
    text-decoration: none;
    margin: 30px 15px 30px 0;
}

.home-sci a:hover {
    background-color: rgb(28, 94, 13);
    color: white;
    box-sizing: 0 0 20px rgb(28, 94, 13);
    transition: .3s;
}


.btn-box {
    font-family: "Source Code Pro", sans-serif;
    display: inline-block;
    padding: 12px 30px;
    background-color: rgb(28, 94, 13);
    border-radius: 40px;
    font-size: 16px;
    color: white;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 500;
}

.btn-box:hover {
    background-color: transparent;
    box-shadow: 0 0 0 1px rgb(28, 94, 13);
    transition: .5s;
    color: white;
}

.home .home-content {
    animation: slideLeft 1s ease forwards;
}

.home-content h3:nth-of-type(2){
    margin-bottom: 30px;
}

.home-content span {
    color: rgb(44, 171, 15);
    font-size: 30px;
}

.home .card {
    padding: 0px 20px;
    background-color: transparent;
}

.home .card .profile {
    margin-left: 1.5rem;
}

@media screen and (max-width: 868px) {
    .home {
        width: 100%;
        overflow: hidden;
    }
    .home .home-content {
        margin-left: 0rem !important;
        margin-top: 0rem;
    }
    .home-content h3 {
        font-size: 20px !important;
    }
    .home-content h1 {
        font-size: 40px !important;
    }
    .home-content span {
        font-size: 23px !important;
    }
    .home-content p {
        font-size: normal !important;
        margin-top: 0rem !important;
    }
    .home .home-content .home-sci a {
        margin-left: 0.5px;
        font-size: 20px;
    }
    .home .home-content a {
        font-size: 15px;
    }
    .home .card {
        background-color: transparent;
    }
    .home .card .profile {
        padding: 0px 20px;
        width: 100%;
        margin-left: 0rem;
    }
}

@media screen and (max-width: 410px) {
    .home-content {
        margin-bottom: 0rem !important;
    }
    .home-content span {
        font-size: 23px !important;
    }
    .home-content h3 {
        font-size: 22px !important;
    }
    .home-content {
        margin-left: 1rem !important;
    }
    .home .disc {
        margin-left: 1rem;
    }
    .hide-sm {
        display: none !important;
    }
}

/** ABOUT **/

.about {
    overflow: hidden;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    width: 100%;
}

.about img {
    margin-top: 5.5rem !important;
}

.about .card {
    margin-top: 4rem;
}

.about .web {
    color: rgb(28, 94, 13);
    font-size: 2.5rem;
}

.about .container h1 {
    font-size: 35px;
    color: rgb(44, 171, 15);
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    position: relative;
}

.about .disc {
    margin-top: 12rem;
}

.about p {
    color: rgb(223, 223, 223);
    font-family: "Source Code Pro", sans-serif;
    box-shadow: 0 0 0 1px rgba(112, 112, 112, 0.756);
    padding: 10px 20px;
    transition: .3s;
}

.about p:hover {
    color: white;
    background-color: rgba(44, 171, 15, 0.707);
}

.about .container {
    position: relative;
}

@media screen and (max-width: 868px) {
    .about {
        width: 100%;
    }
    .about .disc {
        margin-top: 0rem !important;
        margin-bottom: 8rem !important;
    }
    .about h1 {
        margin-left: 2rem;
        margin-top: 6rem;
        font-size: 40px !important;
    }
    .about img {
        width: 130%;
        margin-top: 2rem;
    }
}
@media screen and (max-width: 868px) {
    .hide-md {
        display: none !important;
    }
}
@media screen and (max-width: 622px) {
    .about .disc {
        width: 100%;
    }
    .about .disc h1 {
        margin-left: 0rem !important;
    }
}

/** SKILLS **/

.services {
    width: 100%;
    height: 100%;
    margin-top: 7rem;
    overflow: hidden;
    color: white;
}

.services .container h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 40px;
    font-weight: 800;
    position: relative;
    color: rgb(44, 171, 15);
}

.services p {
    font-family: "Source Code Pro", sans-serif;
    position: relative;
    color: white;
}

.services .card {
    margin-top: 3rem;
    color: white;
    background-color: #262626;
    border: none;
    padding: 40px 40px;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}

.services .card:hover {
    background-color: rgb(28, 94, 13);
    transform: translateY(-10px);
    transition: .3s;
}

.services .card h4 {
    font-family: "Source Code Pro", sans-serif;
    font-weight: 700;
    font-size: 22px;
}

@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes slideTop {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@media screen and (max-width: 868px) {
    .services {
        height: 100%;
        width: 100%;
        margin-top: 0rem !important;
    }
    .services .card h4 {
        text-align: center;
        font-size: 25px;
        font-weight: 700;
        width: 100%;
    }
    .services p {
        font-family: "Montserrat", sans-serif;
        letter-spacing: 1px;
        font-size: 15px !important;
    }
    .services .card {
        padding: 10px 10px 5px 10px !important;
        margin-top: 0rem !important;
        border-radius: 10px;
        width: 100%;
    }
}
@media screen and (max-width: 622px) {
    .services {
        width: 100%
    }
    .services .card {
        width: 100%;
        height: 100%
    }
}

@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Fira+Mono:wght@500&display=swap');

/** PROJECT **/

.project {
    margin-top: 15rem;
    position: relative;
}

.project .disc {
    overflow: hidden;
}

.project h4, p {
    font-family: "Source Code Pro", sans-serif;
}

.project .card {
    overflow: hidden;
    border: none;
    background-color: transparent !important;
    transition: background 0.5s, transform 0.5s;
}

.project .card:hover {
    transform: translateY(-10px);
    transition: .3s;
}

@media screen and (max-width: 410px) {
    .project {
        margin-top: 3rem !important;
    }
    #product-swiped {
        overflow: hidden;
        padding: 0px 30px;
        margin-bottom: 8rem !important;
    }
    .swiper-wrapper .card {
        width: 100%;
        border: none;
    }
    .swiper-wrapper .image {
        border-radius: 0px;
    }
}

/******SKILLS******/

.skill {
    position: relative;
}

.skill h1 {
    margin-top: 5rem;
    font-weight: 800;
    color: rgb(44, 171, 15);
}

.techskills {
    margin-top: 5rem;
}

.progress {
    background-color: #262626 !important;
}

.skill .bxl-html5 {
    color: rgba(255, 60, 0, 0.944);
}

.skill .bxl-css3 {
    color: rgba(30, 30, 255, 0.774)
}

.skill .bxl-javascript {
    color: yellow;
}

.skill .bxl-bootstrap {
    color: rgb(162, 0, 255);
}

.skill .bxl-react {
    color: cyan;
}

.skill .bxl-php {
    color: rgb(186, 54, 186);
}

.skill img {
    position: relative;
}

.skill .card {
    background-color: #262626;
}

.skill .card h4 {
    margin-top: 1rem;
    color: white;
}

@media screen and (max-width: 410px) {
    .skill h1 {
        font-size: 40px;
        margin-top: 5rem;
        font-weight: 800;
        color: rgb(44, 171, 15);
    }
    .techskills {
        margin-top: 2rem;
    }
}

/*****RESOURCES*******/

.resources {
    display: flex;
    margin-top: 6rem;
}

.resources {
    position: relative;
}

.resources h1 {
    position: relative;
    font-weight: 800;
    color: rgb(44, 171, 15);
}

.resources .card-header h4 {
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
}

.resources .card {
    color: rgb(255, 255, 255);
    height: 100%;
    transition: .3s;
    backdrop-filter: blur(2px) saturate(200%);
    -webkit-backdrop-filter: blur(2px) saturate(200%);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    box-shadow: 0 0 0 1px #262626;
    transition: .5s;
}

.resources .card:hover {
    background-color: #262626;
    box-shadow: 0 0 0 1px rgb(176, 176, 176);
}

.resources .card-body {
    color: rgb(47, 255, 0);
}

/* footer */

footer {
    width: 80%;
    height:100px;
    color: white;
    text-align: center;
    align-items: center;
    position: relative;
    bottom: 0;
}
a {
    text-decoration: none;
    color: rgba(224,153,45,1);
}

/********************************************/

form {
    width: 100%;
    max-width: 600px;
}

.input-group {
    margin-bottom: 30px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    outline: 0;
    border: 1px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    font-size: 15px;
    background-color: transparent;
    backdrop-filter: brightness(60%) blur(1px);
}

iframe {
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}

h1 {
    text-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

p {
    text-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
}

.submit {
    padding: 10px 0;
    color: rgb(255, 255, 255);
    outline: none;
    border: none;
    width: 100%;
    background-color: rgb(28, 94, 13);
    border-radius: 10px;
    font-family: "Source Code Pro", sans-serif;
}

.submit:hover {
    background-color: transparent;
    box-shadow: 0 0 0 1px rgb(28, 94, 13);
    color: white;
    transition: 0.5s;
}

::placeholder {
    color: rgb(255, 255, 255);
}

.container .disc h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    color: rgb(44, 171, 15);
}

.container .disc {
    animation: slideRight .5s ease forwards;
    color: white;
    position: relative;
    border: none;
    opacity: 0;
    margin-bottom: 2rem;
}

.contact p {
    font-family: "Source Code Pro", sans-serif;
}

.container .disc h6 span {
    color: rgb(44, 171, 15);
}

#contact {
    margin-top: 7rem;
    margin-bottom: 7rem;
}

hr {
    position: relative;
    color: rgb(176, 176, 176) !important;
}

.container .fill input::placeholder {
    font-family: "Source Code Pro", sans-serif;
}

.container .fill textarea::placeholder {
    font-family: "Source Code Pro", sans-serif;
}

.container input {
    background-image: url(img/codeanimated2.gif);
}

.container textarea {
    background-image: url(img/codeanimated2.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

@media only screen and (max-width: 868px) {
    .footer {
        width: 100%;
    }
    #contact {
        margin-top: 3rem !important;
        margin-bottom: 0rem !important;
    }
    .container .disc h1 {
        font-size: 40px;
        font-weight: 700 !important;
        font-family: "Montserrat", sans-serif;
    }
    .container .fill {
        margin-top: 1rem !important;
        margin-bottom: 3rem;
    }
}
@media screen and (max-width: 622px) {
    .contact {
        width: 100%;
    }
    .contact .col-12 .disc {
        width: 100% !important;
    }
    .contact .fill {
        width: 100%;
    }
}

.footer {
    position: relative;
    border-top: 1px solid rgba(44, 171, 15, 0.361);
    background-color: rgba(0, 0, 0, 0.689);
}

.footer p {
    background-color: transparent !important;
    font-family: "Source Code Pro", sans-serif;
    color: rgb(195, 195, 195);
    font-size: 15px;
}

.footer p span a {
    margin-left: 3px !important;
    font-family: "Source Code Pro", sans-serif;
    text-decoration: none;
    color: rgb(47, 255, 0);
    transition: .3s;
}

.footer p span a:hover {
    text-decoration: underline rgb(28, 94, 13);
}